	<form class="search-form" action="/search" method="GET">
		<div class="btn-search">
			<input class="txt-search" type="text" name="tags" placeholder="Search" maxlength="30">
			<button id="btn-search">Search</button>
		</div>
	</form>
<br>
