	<form class="data-form" action="/addpic" method="POST" enctype="multipart/form-data">
		<p id="para">add post</p><br>
		<input class="txt" type="text" name="title" placeholder="Title" maxlength="20"><br><br>
		<input class="txt" type="text" name="tags" placeholder="Tags" maxlength="20"><br><br>
		<div class="btn-post">
			<div class="custom-file">
				<span>choose your photo</span>
				<input type="file" name="filepath">
			</div>
			<button id="btn-post">Post</button>
		</div>
	</form>
