	<form class="search-form">
		<div class="btn-search">
			<input class="txt-search" type="text" name="search" placeholder="Search" maxlength="30">
			<button id="btn-search">Search</button>
		</div>			
	</form>					
<br>
