<!DOCTYPE html>
<html>
{{>htmlHead}}
	<body>
	<main>
		<div class="container">
		<br>
		<h1>welcome to photo lovers</h1>
		<br>

			<section class="sec-form">
			{{>form-search}}
			{{>form-data}}

			</section>
			<section class="photo">
				{{{body}}}

			</section>
			
		</div>
	</main>
		<script src="/js/main.js"></script>
	</body>
</html>